<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/jquery.min.js"></script>
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/plotly.min.js"></script>
    <script src="js/jquery.dataTables.js"></script>
    <script src="js/dataTables.uikit.js"></script>

    <title>Lat Report [[name]]</title>
    <style>
        .svg-container{
            display:block;
            margin:auto;
        }
    </style>
</head>

<body>
    <h1 class="uk-heading-line uk-text-center uk-margin-top"><span>Lat Report</span></h1>
    <div class="uk-container uk-container-center uk-text-center">
        <h3>Lara Autotuning Tool Report for operation: [[name]] ([[tuneName]])</h3>

        <div class="uk-child-width-expand@s" uk-grid>
            <div class="uk-width-1-2">
                <h2 class="uk-heading-line"><span>Configurations</span></h2>
                <table class="uk-table uk-table-divider uk-table-small">
                    <thead>
                        <tr>
                            <th class="uk-text-center">Lat Attribute</th>
                            <th class="uk-text-center">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>name</td>
                            <td class="uk-text-truncate" title="[[name]]([[tuneName]])">[[name]]</td>
                        </tr>
                        <tr>
                            <td>scope</td>
                            <td class="uk-text-truncate" title="[[scope]]">[[scope]]</td>
                        </tr>
                        <tr>
                            <td>measure</td>
                            <td class="uk-text-truncate" title="[[measure]]">[[measure]]</td>
                        </tr>
                        <tr>
                            <td>variables</td>
                            <td class="uk-text-break">[[variables]]</td>
                        </tr>
                        <tr>
                            <td>searchType</td>
                            <td class="uk-text-break">[[searchType]]</td>
                        </tr>
                        <tr>
                            <td>numTests</td>
                            <td class="uk-text-break">[[numTests]]</td>
                        </tr>
                        <tr>
                            <td>removeDuplicates</td>
                            <td class="uk-text-break">[[removeDuplicates]]</td>
                        </tr>
                        <tr>
                            <td>clearCode</td>
                            <td class="uk-text-break">[[clearCode]]</td>
                        </tr>
                        <tr>
                            <td>verbose</td>
                            <td class="uk-text-break">[[verbose]]</td>
                        </tr>
                        <tr>
                            <td>abort</td>
                            <td class="uk-text-break">[[abort]]</td>
                        </tr>
                        <tr>
                            <td>timeout</td>
                            <td class="uk-text-break">[[timeout]]</td>
                        </tr>
                        <tr>
                            <td>outputFolder</td>
                            <td class="uk-text-break">[[outputFolder]]</td>
                        </tr>
                    </tbody>
                </table>
                <h2 class="uk-heading-line"><span>System Constants</span></h2>
                <table class="uk-table uk-table-divider uk-table-small">
                    <thead>
                        <tr>
                            <th class="uk-text-center">Constant</th>
                            <th class="uk-text-center">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>NUM_CPU_THREADS</td>
                            <td class="uk-text-break">[[NUM_CPU_THREADS]]</td>
                        </tr>
                        <tr>
                            <td>L1_CACHE_LINESIZE</td>
                            <td class="uk-text-break">[[L1_CACHE_LINESIZE]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="uk-width-1-2">
                <h2 class="uk-heading-line"><span>Overall Results</span></h2>
                <table class="uk-table uk-table-divider uk-table-small">
                    <thead>
                        <tr>
                            <th class="uk-text-center">Name</th>
                            <th class="uk-text-center">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td class="uk-text-break">[[name]]</td>
                        </tr>
                        <tr>
                            <td>Tune Count</td>
                            <td class="uk-text-break">[[tuneCount]]</td>
                        </tr>
                        <tr>
                            <td># Variants</td>
                            <td class="uk-text-break">[[numVariants]]</td>
                        </tr>
                        <tr>
                            <td><span title="removeDuplicates is set to [[removeDuplicates]]" uk-tooltip># Unique Variants*</span></td>
                            <td class="uk-text-break">[[numUniqueVariants]]</td>
                        </tr>
                        <tr>
                            <td># Variables</td>
                            <td class="uk-text-break">[[numVariables]]</td>
                        </tr>
                        <tr>
                            <td>Best Variant</td>
                            <td class="uk-text-break">[[bestVariant]]</td>
                        </tr>
                        <tr>
                            <td>Best Time</td>
                            <td class="uk-text-break">[[bestTime]] ns</td>
                        </tr>
                        <tr>
                            <td># SearchGroups</td>
                            <td class="uk-text-break">[[numSearchGroups]]</td>
                        </tr>
                        <tr>
                            <td>Execution Time</td>
                            <td class="uk-text-break">[[executionTime]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h2 class="uk-heading-line"><span>Search Groups ([[numSearchGroups]])</span></h2>
        <p class=""></p>
        <ul class="uk-subnav uk-subnav-pill uk-flex-center uk-flex" uk-switcher="animation: uk-animation-fade">
            [[searchGroupLinks]]
        </ul>

        <ul class="uk-switcher uk-margin uk-background-muted">
            [[searchGroupDivs]]
        </ul>
        <br>


        <h2 class="uk-heading-line"><span>Console Output</span></h2>
        <pre class="uk-text-left uk-background-muted" style="max-height: 400px;"><code>[[consoleOutput]]</code></pre>
    </div>

    <hr/>
    <div class="uk-margin-medium-left uk-margin-medium-right">
        <h3>Report generated at [[timestampGeneration]]
            <a href="https://github.com/specs-feup/LAT-Lara-Autotuning-Tool" class="uk-align-right" uk-icon="icon: github"></a>
        </h3>
    </div>
    <script>
        [[searchGroupsScript]]
    </script>
</body>

</html>