var searchGroup_[[searchGroupIndex]] = {
    x: [[xValues]],
    y: [[yValues]],
    mode: 'lines+markers'
};

var data_[[searchGroupIndex]] = [searchGroup_[[searchGroupIndex]]];

var layout_[[searchGroupIndex]] = {
    title: 'Variable [[searchGroupVariables]] impact on time',
    autosize: false,
    width:1200,
    xaxis: {
        title: 'Variant'
    },
    yaxis: {
        title: 'Time (ns)'
    }
};
Plotly.newPlot('chartSearchGroup_[[searchGroupIndex]]', data_[[searchGroupIndex]], layout_[[searchGroupIndex]]);